<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>this is AccesRecords </h1>
        <table border="5px">
            <tr>
                <th>pk</th>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
            {% for ar in QSAR %}
            <tr>
                <td>{{ar.pk}}</td>
                <td>{{ar.name}}</td>
                <td>{{ar.date}}</td>
                <td>{{ar.author}}</td>
            </tr>
            
            {% endfor %}

        </table>

    </center>

    
</body>
</html>